
:root {
	--highlight: #fcf201;
	--purple: #6f63ad;
	--smoke: #f3f3f3;
	--white: #ffffff;
	--navy: #082340;
}


body {
	display: flex;
	justify-content: center;
	margin: 0;
}

.record-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;

}

.record-container__li {
  
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
 
}

.li__citizenId {
  background: lightgray;
  color: var(--navy);
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}




.links:hover {
	color: var(--navy);
}

/* Navbar styling */

.nav__container {
  display: flex;  
	justify-content: space-between;
}

.ul__navbar {
  display: flex; 
  flex-wrap: wrap; 
  list-style-type: none;
  justify-content: space-evenly;
	width: 100%;
  
}

.li__navbar {
  float:left;
}

.li__navbar a {
  display: block;
  text-align: center;
}

.logo__container {
  justify-content: center;
  align-items: center;
}

.logo__text {
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home__colour {
  background-color: var(--purple);
  color: var(--white);
  font-size: x-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav__link {
  color: var(--white);
  text-decoration: none;
}




.footer {
	line-height: 2em;
	margin-top: 0.5em;
	padding: 1em 3em;
}

.footer__section {
	min-width: 9.375em;
}


@media only screen and (max-width: 405px) {
	.header__title {
		padding-left: 1.5rem;
	}
}
